table.treeViewTable{
	width: 100%;
}
table.treeViewTable td, table.treeViewTable td span{
	line-height: 20px;
	margin: 0px;
	padding: 0px;
}
table.treeViewTable .id, table.treeViewTable .name, table.treeViewTable .context, table.treeViewTable .parentSpace{
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
table.treeViewTable .context{
	float: right;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}